
/* Additional Styles */
.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

.dark-mode {
  background-color: #121212;
  color: rgb(255, 255, 255);
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 100;
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    min-height: 95%;
    max-height: 100vh;
    /* no text highlight */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
  
  ::selection {
    background: #323039;
    color:#ffffff;
  }
  
  /* Navigation Bar  */
  nav {
    border-bottom: 2px solid #198754;
    margin-bottom: auto;
  }
  
  nav ul img {
    height: 25px;
    justify-content: center;
  }
  
  .navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
    min-height: 55px;
  }
  
  .navbar-brand {
    width: 55px;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .navbar-toggler, .navbar-toggler:hover, .navbar-toggler:active{
    color: transparent;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
  }
  
  .nav-link {
    padding-left: 10px;
  }
  
  .visuallyHidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; padding: 0; border: 0; 
  }
  
  .hamburger {
    width: 32px;
    height: 32px;
    position: relative;
    margin: 10px 0px;
  }
  
  .hamburger-label {
    padding: 0px 10px;
    cursor: pointer;
  }
  
  .hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #13613c;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute; 
  }
  
  .bar1 {
    top: 0;
  }
  
  .bar2,
  .bar3 {
    top: 13.5px;
  }
  
  .bar3 {
    right: 0;
  }
  
  .bar4 {
    bottom: 0;
  }
  
  .hamburger2 .bar2,
  .hamburger3 .bar3,
  .hamburger4 .bar4 {
      top: 13.5px;
  }
  
  .hamburger4 .bar5 {
      bottom: 0px;
  }
  
  .hamburger4 .bar {
      transition: all 0.4s ease-in-out, transform 0.4s ease-in-out 0.4s;
  }
  
  .hamburger4 .bar2 {
      width: 1px;
      transform: rotate(90deg);
      left: 13.5px;
  }
  
  .hamburger4 .bar3 {
      width: 1px;
      left: 13.5px;
      
  }
  
  .checkbox4:checked + label > .hamburger4 > .bar1{
      top: 13.5px;
      background-color: transparent;
  }
  
  .checkbox4:checked + label > .hamburger4 > .bar2{
      left: 0px;
      width: 30px;
      transform: rotate(45deg);
  }
  
  .checkbox4:checked + label > .hamburger4 > .bar3{
      left: 0;
      width: 30px;
      transform: rotate(-45deg);
  }
  
  .checkbox4:checked + label > .hamburger4 > .bar4{
      background-color: transparent;
  }
  
  .checkbox4:checked + label > .hamburger4 > .bar5{
      bottom: 13.5px;
      background-color: transparent; 
  }
  
  .plm-label {
    text-align: left;
    line-height: 1.2;
  }
  
  .plm-label-filipino {
    color: #198754;
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  }
  
  .plm-label-english {
    color: #1F1F1F;
    font-style: normal;
    font-weight: 300;
  
  }
  
  .navbar a:hover {
    color: black;
    opacity: 50%;
  }
  
  .admin-menu {
    color: black;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-link {
    color: black;
    transition: color 0.3s ease !important;
  }
  
  .nav-link:hover{
    transition: color 0.3s ease !important;
  }
  
  .nav-link:active, .nav-link:focus{
    color: #7c7c7c !important;
  }
  
  .alert {
    margin: 0;
    text-align: center;
    background: #13613c;
    color: white;
    padding: 0;
    border-radius: 0;
    margin-top: 5px;
  }
  
  .alert p {
    padding: 10px 0px;
    height: 100%;
    margin: 0;
  }
  
  /*MAIN CSS*/
  .body {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .announcement {
    width: 100%;
    height: auto;
    min-height: 200px;
    padding-top: 15px;
  }
  
  .image-announcement {
    min-height: 390px;
    width: 100%;
    margin-bottom: 10px;
    background: linear-gradient(0deg, rgba(55, 55, 55, 0.9), rgba(55, 55, 55, 0.9)), url("resources/PLM_Banner.jpg");
    background-position: center;
  }
  
  .image-announcement-background {
    filter: blur(8px);
  }
  
  /*Bootstrap Carousel Override*/
  .image-announcement .carousel {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .image-announcement .carousel-inner {
    height: inherit;
  }
  
  .image-announcement .carousel-item {
    height: inherit;
  }
  
  .image-announcement .carousel-image {
    width: inherit;
    height: inherit;
    object-fit: contain;
    margin: auto;
    max-height: 500px;
  }
  
  .image-announcement .carousel-control-prev,
  .carousel-control-next {
    background: rgba(0, 0, 0, 0.6);
    height: 75px;
    width: 75px;
    margin: auto;
  }
  
  /* (A) LIGHTBOX BACKGROUND */
  #lightbox {
    /* (A1) COVERS FULLSCREEN */
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    /* (A2) BACKGROUND */
    background: rgba(0, 0, 0, 0.5);
  
    /* (A3) CENTER IMAGE ON SCREEN */
    display: flex;
    align-items: center;
  
    /* (A4) HIDDEN BY DEFAULT */
    visibility: hidden;
    opacity: 0;
  
    /* (A5) SHOW/HIDE ANIMATION */
    transition: opacity ease 0.4s;
  }
  
  /* (A6) TOGGLE VISIBILITY */
  #lightbox.show {
    visibility: visible;
    opacity: 1;
  }
  
  /* (B) LIGHTBOX IMAGE */
  #lightbox img {
    /* (B1) DIMENSIONS */
    width: 95%;
    height: 100%;
  
    /* (B2) IMAGE FIT */
    /* contain | cover | fill | scale-down */
    object-fit: scale-down;
  }
  
  .text-announcement {
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  
  .dates-to-remember {
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  }
  
  .dates-header {
    padding: 5px 10px;
    text-align: left;
    background-color: #198754;
    color: rgb(0, 0, 0);
    letter-spacing: 0.15px;
    border-bottom: 2px solid #198754;
  }
  
  .dates-body {
    background: white;
    border-bottom: 2px solid #198754;
  }
  
  .dates-body p {
    padding: 5px 5px;
    margin: 0px;
    text-align: center;
    width: 100%;
  }
  
  .advisories {
    width: 100%;
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  }
  
  .advisories-header {
    padding: 5px 10px;
    text-align: left;
    background-color: #198754;
    color: rgb(0, 0, 0);
    letter-spacing: 0.15px;
    border-bottom: 2px solid #198754;
  }
  
  .advisories-body {
    flex-grow: 1;
    overflow-y: scroll;
    border-bottom: 2px solid #198754;
  }
  
  .advisories-body::-webkit-scrollbar,
  .expanded::-webkit-scrollbar {
    width: 10px;
  }
  
  .advisories-body::-webkit-scrollbar-track,
  .expanded::-webkit-scrollbar-track {
    background: #000000;
  }
  
  .advisories-body::-webkit-scrollbar-thumb,
  .expanded::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
  }
  
  .advisories-body::-webkit-scrollbar-thumb:hover,
  .expanded::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  
  .advisories-content {
    background: rgb(255, 255, 255);
    width: 100%;
    padding: 20px;
    transition: background-color ease 0.5s;
  }
  
  .advisories-content:hover, .advisories-content:nth-child(even):hover {
    background: #fcfccc;
  }
  
  .advisories-content:nth-child(even) {
    background: rgb(245, 245, 245);
  }
  
  .advisories-content p {
    margin: 0;
    text-align: justify;
  }
  
  .dropdowns {
    width: 100%;
    height: auto;
    min-height: 200px;
    padding: 25px 0px 0px 0px;
  }
  
  #collapsibleContent3 a{
    text-decoration: none;
    color: #006699;
  }
  
  .footer {
    width: 100%;
    height: auto;
    min-height: 200px;
    border-top: 3px solid #198754;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.93), rgba(255, 255, 255, 0.93)), url("resources/PLM_Banner.jpg");
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: cover;
  }
  
  .details {
    width: 100%;
    height: auto;
    min-height: 200px;
  }
  
  /* Modal */
  .modal-dialog {
    font-family: 'Inter', sans-serif;
  }
  
  .confirm-label {
    font-size: 17px;
    font-weight: 600;
  }
  
  .confirm-text {
    color: #5E5E5E;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
  }
  
  .cancel-button {
    background-color: white;
    color: black;
    border: 1px solid #5E5E5E;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    transition: all 100s ease-in-out;
    color: #5E5E5E;
  }
  
  .confirm-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    background: #006699;
    border-radius: 4px;
    transition: all 100s ease-in-out;
    color: #FFFFFF;
  }
  
  /* Submit */
  
  .submit-inquiry {
    font-family: 'Inter', sans-serif;
    background-color: white;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  
  .submit-form {
    font-size: 15px;
  }
  
  .contact-wrapper {
    margin: auto 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
  }
  
  .submit-header {
    font-weight: 400;
    font-size: 32px;
  }
  
  .submit-sub {
    font-weight: 400;
    font-size: 15px;
  }
  
  .required-input {
    color: black;
  }
  
  .submit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    width: 100px;
    height: 40px;
    background-color: #006699;
    border-radius: 4px;
    color: white;
    margin-bottom: 10px;
    justify-content: flex-end;
    transition: all 100s ease-in-out;
  }
  
  .phone-number {
    font-weight: 600;
    font-size: 18px;
    color: #0B92F1;
  }
  
  @media (min-width: 600px) {
    .contain {
      padding: 0;
    }
  }
  
  .form-input:focus,
  textarea:focus {
    outline: 1.5px solid #006699;
  }
  
  .form-input,
  textarea {
    width: 100%;
    border: 1px solid #bdbdbd;
    padding: 0;
    border-radius: 3px;
  }
  
  .form li {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }
  
  .form label {
    margin-bottom: 0%;
  }
  
  .form-control{
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }
  
  .wrapper>* {
    padding: 1em;
  }
  
  @media (min-width: 700px) {
    .wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  
    .wrapper>* {
      padding: 2em 2em;
    }
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background: white;
  }
  
  .full-width {
    grid-column: 1 / 3;
  }
  
  .plm-footer-logo {
    align-items: center;
  }
  
  .plm-footer-image {
    width: 100%;
    height: 100%;

  }
  
  .plm-footer-label-main {
    font-family: Merriweather;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #198754;
    padding-top: 25px;
    padding-left: 10px;
  }
  
  .plm-footer-label-sub {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: -15px;
    padding-left: 10px;
    color:#000000;
  }
  
  .plm-footer-aboutus {
    padding-top: 20px;
    text-align: justify;
    color: #000000;
  }
  
  .plm-footer-icon-section {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .plm-footer-icon img {
    height: 30px;
    justify-content: center;
    margin: 5px 9px;
    transition: transform 0.25s ease;
  }
  
  .plm-footer-icon img:hover {
    transform: scale(1.5);
  }
  
  .AO-Information {
    width: 100%;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    color: #000000;
  }
  
  .plm-footer-contact {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 25px;
  }
  
  .plm-footer-email {
    width: 26px;
    height: 24px;
    line-height: 56px;
    margin-right: 20px;
  }
  
  .plm-footer-bold {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
  }
  
  .plm-footer-emailtext {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
    margin-top: -20px;
  }
  
  .plm-number {
    margin-top: 12px;
  }
  
  .plm-footer-number {
    width: 26px;
    height: 24px;
    margin-right: 20px;
  }
  
  .plm-footer-numbertext {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
  }
  
  .plm-address {
    margin-top: 12px;
  }
  
  .plm-footer-address {
    width: 26px;
    height: 26px;
    margin-right: 20px;
  }
  
  .plm-footer-addresstext {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0em;
  }
  
  .bottom-footer {
    width: 100%;
    height: auto;
    background: #198754;
    color: rgb(0, 0, 0);
    font-weight: 500;
    justify-content: center;
  }
  
  .body-alert {
    width: 100%;
    background: #198754;
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
  }
  
  .body-alert p {
    margin: 10px;
  }
  
  
  .body-alert a {
    color: #13613c
  }
  
  .body-alert a:hover {
    color: #198754;
  }
  
  .FAQ-Header {
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  
  .Question-and-Answer {
    margin: 40px 0px;
  }
  
  .Question {
    width: 100%;
    background: rgba(163, 25, 32, 0.15);
    border-left: 5px solid rgba(163, 25, 32, 0.75);
    align-items: center;
  }
  
  .QLetter {
    font-size: 20px;
    max-width: 70px;
    text-align: center;
    color: #13613c;
  }
  
  .QText {
    font-size: 15px;
    width: 100%;
    margin: 0px 10px;
    color: #198754;
    text-align: justify;
  }
  
  .Answer {
    width: 100%;
    border-left: 5px solid #006699;
    align-items: center;
  }
  
  .ALetter {
    font-size: 20px;
    max-width: 70px;
    text-align: center;
    color: #006699;
  }
  
  .AText {
    font-size: 15px;
    width: 100%;
    margin: 0px 10px;
    color: #006699;
    text-align: justify;
  }
  
  #inquiriesTable_wrapper {
    margin: 30px 0px;
  }
  
  table.dataTable {
    width: 100% !important;
  }
  
  #inquiriesTable_wrapper th {
    background: #006699;
    color: rgb(8, 8, 8);
  }
  
  #inquiriesTable {
    padding-top: 10px;
    margin-bottom: 7px;
    height: auto;
    transition: height 0.2s ease-out;
  }
  
  .even {
    background: #DBEAF1 !important;
  }
  
  .odd {
    background: #fafafa !important;
  }
  
  .previous,
  .next {
    background: #006699 !important;
    color: white !important;
  }
  
  .next:hover,
  .previous:hover {
    background: #006699 !important;
    border-color: #006699;
    opacity: .90;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    background: #d3d3d3 !important;
    color: white !important;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: #999999 !important;
    color: white !important;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #FFFFFF;
    border: 1px solid rgba(52, 52, 52, 0.5);
    border-radius: 4px;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: rgb(235, 235, 235);
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    background: #FFFFFF;
    border-radius: 4px;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: rgb(235, 235, 235);
    color: black !important;
    border-color: white;
  }
  
  .Inquiries-Footer {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin: 0px;
    background-color: #006699;
    color: white;
  }
  
  .Inquiries-Footer p {
    margin: 20px;
  }
  
  .Inquiries-Footer a {
    color: #198754;
  }
  
  .Inquiries-Footer a:hover {
    color: #ffeca6;
  }
  
  #facts {
    color: white;
    text-align: center;
  }
  
  .gmaps {
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
  }
  
  .gmaps iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  
  .copyright a {
    font-size: 12px;
    margin-top: -15px;
    text-decoration: none;
    color: #ed4f57;
  }
  
  .copyright p {
    margin-top: 10px;
    font-size: 13px;
  }
  
  .modal-content {
    border-radius: 0 !important;
    border: none !important;
  }
  
  .card-note {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    align-items: center;
  }
  
  .blue-text {
    color: #006699;
    font-weight: bold;
  }
  
  .custom-file-input:lang(en)~.custom-file-label::after {
    content: 'Browse';
  }
  
  /* remove stepper from form */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .flair {
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }
  
  .exitModal img{
    top: 5px;
    right: 5px;
    width: 30px;
    pointer-events: all !important;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  
  .exitModal img:hover{
    transform: rotate(180deg);
  }
  
  .loginRed{
    background: linear-gradient(180deg, #7D1419 27.25%, #7A1419 100%);
    box-shadow: 3px 2px 20px 5px rgba(0, 0, 0, 0.1);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .loginRed img{
    height: 380px;
  }
  
  .loginWhite{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    gap: 10px;
    justify-content: center;
  }
  
  .loginWhite h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin: 0%;
  }
  
  .loginWhite h6 {
    margin: 0%;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #006699;
    margin-top: -2px;
    margin-bottom: 20px;
  }
  
  .loginWhite img{
    position: absolute;
    bottom: 0;
    pointer-events: none;
  }
  
  .loginInput{
    margin-bottom: -10px;
    margin: 0px;
    width: 100%;
  }
  
  .loginWhite #loginError{
    font-size: 10px;
    font-weight: bold;
    color: #198754;
    margin: 0px;
    padding: 2px 0px;
    display: flex;
    align-items: center;
  }
  
  #loginForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    z-index: 10;
    padding: 0px 45px;
    margin: 20% 0px 50% 0px;
  }
  
  #loginForm h6{
    text-align:  center;
  }
  
  #loginForm input {
    margin-top: 20px;
  }
  
  .input-credentials {
    display: flex;
    flex-direction: row;
    margin-bottom: -15px;
    margin-top: 2px;
    align-items: center;
  }
  
  .input-credentials img {
    height: 20px;
    position: relative;
    padding-right: 5px;
  }
  
  .input-credentials p{
    margin: 0;
  }
  
  .loginbutton {
    width: 100%;
    height: 30px;
    margin-top: 17px;
    background: #006699;
    border-radius: 5px;
    border: none;
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
  }
  
  .loginbutton:hover{
    background: #0B92F1;
  }
  
  #loginModal .modal-body{
    padding: 0 !important;  
    box-shadow: 5px 0px 20px 5px rgba(0, 0, 0, 0.1);
  }
  
  /*Desktop*/
  @media screen and (min-width: 1000px) {
  
    .body {
      padding: 0px 100px;
    }
  
    .announcement {
      flex-direction: row !important;
    }
  
    .image-announcement {
      margin-right: 10px;
      max-height: 360px;
    }
  
    .text-announcement {
      height: 390px;
      margin-left: 10px;
    }
  
    .advisories {
      height: 265px;
    }
  
    .details {
      flex-direction: row !important;
      padding: 25px 150px 40px;
    }
  
    #facts {
      margin: 0px 30%;
    }
  
    .gmaps {
      height: 250px;
    }
  
    .submission-modal {
      width: 50%;
    }
  
    .modal-dialog {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  /*Mobile*/
  @media screen and (max-width: 1000px) {
  
    .navbar-collapse {
      background-color: rgb(247, 247, 247);
      -webkit-transition: height .35s ease;
      -o-transition: height .35s ease;
         transition: height .35s ease;
    }
  
    .body {
      padding: 0px 0px;
    }
  
    .announcement {
      flex-direction: column !important;
    }
  
    .image-announcement {
      margin-right: 0px;
      max-height: 500px;
    }
  
    .image-announcement .carousel-image {
      height: 390px;
    }
  
    .text-announcement {
      margin-left: 0px;
      max-height: 500px;
    }
  
    .dates-header {
      text-align: center;
    }
  
    .advisories {
      min-height: 290px;
      max-height: 400px;
    }
  
    .advisories-header {
      text-align: center;
    }
  
    .details {
      flex-direction: column !important;
      padding: 25px 10px 40px;
    }
  
    .plm-footer-icon img {
      height: 50px;
      margin: 10px 10px;
    }
  
    .AO-Information {
      margin-left: 0px;
      margin-right: 0px;
    }
  
    .QLetter {
      font-size: 34px;
    }
  
    .QText {
      font-size: 22px;
      margin-right: 20px;
    }
  
    .ALetter {
      font-size: 34px;
    }
  
    .AText {
      font-size: 18px;
      margin-right: 20px;
    }
  
    #facts {
      margin: 0px 10%;
    }
  
    .gmaps {
      height: 350px;
    }
  
    .loginRed{
      display: none; 
    }
  
    .loginWhite{
      width: 100%;
    }
    
    .FAQ-Header {
      font-size: 27px;
  }
    
  }
  
  /* Collapsible Module */
  .collapsible {
    background-color: #006699;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  
  .collapsible p {
    margin: 0;
  }
  
  /* .collapsible-icon {
    padding-bottom: 10px;
    margin-top: -3px;
    rotate: 0deg;
    transition: transform 0.2s ease-out;
  } */

  .collapsible-icon {
    width: 50px;  /* Adjust to your desired width */
    height: 50px; /* Adjust to your desired height */
}

  
  .content {
    padding: 0px 0px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #FBFBFB;
    outline: 2px solid #006699;
    outline-offset: -2px;
    margin-bottom: 25px;
  }
  
  .content p {
    padding: 20px 70px;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: justified;
  }
  
  #loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #198754;
    transition: all .5s ease-in-out;
    overflow: hidden;
    z-index: 5000;
  }
  
  #loader.fade {
    height: 0%;
    opacity: 0;
  }
  
  .loader-container {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #198754 0%, #13613c 100%);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  
  .loader-seal {
    animation: pulse 2s linear infinite;
    height: 75px;
    width: 75px;
  }
  
  .dyk {
    text-align: center;
    background: linear-gradient(90deg, #13613c 0%, rgb(255, 255, 255) 50%, #13613c 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: flow 10s linear infinite;
    padding: 5px 10px;
    font-family: meriweather;
    font-size: 20px;
    pointer-events: none;
  }
  
  @keyframes flow {
    to {
      background-position: 200% center;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(100%);
    }
    50% {
      transform: scale(90%);
    }
    100% {
      transform: scale(100%);
    }
  }
  
  .center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  div.slider {
    display: none;
  }
  
  table.dataTable tbody td.no-padding {
    padding: 0;
  }
  
  #goToTop {
    position: fixed;
    bottom: -100px;
    right: 30px;
    z-index: 2000;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #198754;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    width: 60px;
    opacity: 0;
    height: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all ease 0.4s;
  }
  
  #goToTop:hover {
    background-color: #13613c;
  }
  
  .modal {
    overflow-y: auto;
   }
   
   .modal-open {
    overflow: auto;
    padding-right: 0px !important;
   }
  
  .input-group-text{
    margin: 20px 0 0 0;
    background-color: transparent;
  }